git+https://github.com/subinps/pyrogram@inline-m
tgcrypto
pymongo[srv]==3.12.3
motor==2.5.1
marshmallow==3.14.1
umongo==3.0.1
requests==2.25.1
telegraph==1.4.1
googletrans==3.1.0a0
gTTS
asyncio==3.4.3
aiohttp==3.7.4
aiofiles
pyshorteners
bs4
imdbpy
youtube-search-python==1.4.6
youtube_search
youtube-dl
yt-dlp
wget
python-arq
ffmpeg-python
ytthumb
tswift
pyromod==1.5
wget
psutil
wheel
pypdf2
gtts
python-decouple
PyPDF2
humanize
pyqrcode
pypng
pyzbar
Pillow 
dnspython
countryinfo
pytesseract
python-telegram-bot==13.4.1
NumPy
glitch_this
opencv-python-headless
TgCrypto
heroku3
dnspython
psycopg2-binary
cachetools==4.2.4
pyyaml==6.0
prettyconf==2.2.1
